<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mouvements</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Liste des Mouvements</h1>

    <div class="nav">
        <a th:href="@{/}">Accueil</a>
    </div>

    <a th:href="@{/mouvements/new}" class="btn-add">Ajouter un mouvement</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Article</th>
            <th>Type</th>
            <th>Source</th>
            <th>Quantité</th>
            <th>Date</th>
            <th>Référence</th>
            <th>Observation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${mouvements}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.article != null ? m.article.designation : 'Aucun'}"></td>
            <td th:text="${m.type}"></td>
            <td th:text="${m.source}"></td>
            <td th:text="${m.quantite}"></td>
            <td th:text="${#temporals.format(m.dateMvt, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${m.referenceDocument}"></td>
            <td th:text="${m.observation}"></td>
            <td>
                <a th:href="@{'/mouvements/delete/' + ${m.id}}"
                   class="btn-action btn-delete"
                   onclick="return confirm('Tu es sûr de supprimer ?')">
                    Supprimer
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>